@page
@model Helios.Pages.ContactUs

@{
    Layout = "Shared/_Layout";
}

@* <iframe src="https://discord.com/widget?id=943338957305966662&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"> *@
@* </iframe> *@

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">
        We'd love to hear from you! Whether it is an issue you're facing with the site, or improvements.
    </p>
</div>

<div class="container bg-white my-5 rounded" style="width: 500px; padding: 30px 50px;">
        <i class="bi bi-discord"></i> <a href="https://discord.gg/jRvZk5cmpD">https://discord.gg/jRvZk5cmpD</a>
        @* <i class="bi bi-mailbox"></i> <a href=""></a> *@
</div>
