@page
@using Helios.Data.Users
@model IndexModel
@inject IAppUserManager _userManager
@{
    ViewData["Title"] = "Home page";
}

<div class="m-auto px-3 text-center" style="max-width: 42rem; margin-top: 12rem !important">
    <h1>Helios</h1>
    <p class="lead">
        Manage your helium devices and track their downtime through e-mail and SMS message notifications
    </p>
    <p class="lead">
        <a href="/signup" class="btn btn-lg btn-primary fw-bold">Get Started</a>
    </p>
</div>