@page
@using Helios.Data.Users
@using Helios.Data.Users.Extensions
@model IndexModel
@inject IAppUserManager _userManager
@{
    ViewData["Title"] = "Home page";

    var user = await _userManager.GetUserByIdAsync(User.GetUniqueId());
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>