@page
@using Helios.Data.Users
@model IndexModel
@inject IAppUserManager _userManager
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex flex-row m-auto mt-5">
    
    <img src="~/img/helium-miners.png" width="500px" height="500px" style="z-index: -1" alt=""/>
    
    <div class="m-auto px-3 text-lg-start" style="max-width: 42rem; margin-top: 12rem !important">
        <h1 class="display-4" style="font-weight: 600 !important;">Helios</h1>
        <p class="lead" style="font-weight: 400 !important;">
            Manage your helium devices on our dashboard and track their uptime through e-mail and SMS alerts
        </p>
        <p class="lead">
            <a href="/signup" class="btn btn-lg btn-primary">Try Helios for free</a>
            <a href="#" class="btn btn-lg btn-outline-primary">Learn more</a>
        </p>
    </div>
</div>