@page "{email?}"
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    ViewData["Description"] = "Forgot your password? Recover it here!";

    Layout = "Shared/_EmptyLayout";
}

<div class="container bg-white rounded shadow" style="width: 500px; padding: 30px 50px; margin-top: 100px">
    <h1 class="text-center font-weight-lighter fs-5 mb-4" style="font-weight: 600">
        Reset your password
    </h1>

    <form method="post" id="loginField">
        <div asp-validation-summary="All" class="text-danger"></div>
            
        <div class="mb-3">
            <label for="inputPassword1" class="form-label small">Password</label>
            <input asp-for="Form.Password" type="password" class="form-control" id="inputPassword1" aria-describedby="passwordHelp">
        </div>
        <div class="mb-3">
            <label for="inputPasswordConfirm1" class="form-label small">Confirm Password</label>
            <input asp-for="Form.ConfirmPassword" type="password" class="form-control" id="inputPasswordConfirm1">
        </div>

        <button class="btn btn-primary btn-block my-2 debounce w-100" type="submit" id="recaptcha">Reset Password</button>
        @Html.AntiForgeryToken()
    </form>
    
    <p class="text-center small mt-4">
        Don't have an account? <a asp-page="Signup">Sign up for free!</a> <br />
        Forgot your password? <a asp-page="ForgotPassword">Reset your password</a>
    </p>
</div>