@page "/verify"
@inject IAppUserManager _userManager
@using Helios.Data.Users
@using Helios.Data.Users.Extensions
@model AccountVerificationModel

@{
    ViewData["Title"] = "Verify account";
    
    var user = await _userManager.GetUserByIdAsync(User.GetUniqueId());
}

@section Scripts {
    <script>
        window.addEventListener("load", function(){
            setInterval(() => {
                $.ajax({
                   url: '?handler=isemailverified'
                })
                .done(result => {
                   if (result.isVerified) {
                        window.location.href = "/";
                   }
                });      
            }, 5000);
        });
    </script>

}

<div class="m-auto bg-white rounded shadow text-center" style="width: 500px; padding: 30px 50px; margin-top: 100px !important;">
    <p class="h3">Please verify your email</p>
    
    <p>
        We've sent an email to <strong>@(user.Email)</strong>. <br/>
    
        Click the link, and it should automatically redirect this page.
    </p>
    
    <small class="text-muted">Haven't got the email? Check your spam box.</small>
</div>