@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "Shared/_EmptyLayout";
}

<div class="container bg-white rounded shadow" style="width: 500px; padding: 30px 50px; margin-top: 100px">
    <h1 class="text-center font-weight-lighter fs-5 mb-4" style="font-weight: 600">
        Log in to Helios
    </h1>

    <form method="post" id="loginField">
        <div asp-validation-summary="All" class="text-danger"></div>
            
        <div class="mb-3">
            <label for="inputUsername1" class="form-label small">Username</label>
            <input asp-for="LoginForm.Username" type="text" class="form-control" id="inputUsername1" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label small">Password</label>
            <input asp-for="LoginForm.Password" type="password" class="form-control" id="inputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="inputCheck1">
            <label asp-for="LoginForm.RememberMe" class="form-check-label" for="inputCheck1">Keep me signed in on this device</label>
        </div>

        <button class="btn btn-primary btn-block my-2 debounce w-100" type="submit" id="recaptcha">Log In</button>
        @Html.AntiForgeryToken()
    </form>
    
    <p class="text-center small mt-4">
        Don't have an account? <a asp-page="Signup">Sign up for free!</a> <br />
        Forgot your password? <a asp-page="ForgotPassword">Reset your password</a>
    </p>
</div>