@using Helios.Data.Users.Extensions

<header class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Helios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/commonissues">Diagnostics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/contactus">Contact Us</a>
                </li>
                
            </ul>
        </div>
            
        @if ( User.IsLoggedIn() ) {
            <a href="/">
                <button class="btn btn-default">Dashboard</button>
            </a>
            <a href="/logout">
                <button class="btn btn-outline-dark">Log Out</button>
            </a>
        } else {
            <a href="/login">
                <button class="btn btn-default">Sign In</button>
            </a>
            <a href="/signup">
                <button class="btn btn-outline-dark">Sign Up</button>
            </a>
        }
    </div>
</header>
