@page "/forgotpassword"
@using reCAPTCHA.AspNetCore
@using Microsoft.Extensions.Options
@inject IOptions<RecaptchaSettings> _recaptchaSettings
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    ViewData["Description"] = "Forgot your password? Recover it here!";

    Layout = "Shared/_EmptyLayout";
}

<div class="container bg-white rounded shadow" style="width: 500px; padding: 30px 50px; margin-top: 100px">
    <h1 class="text-center font-weight-lighter fs-5 mb-4" style="font-weight: 600">
        Forgot your password
    </h1>

    <form method="post" id="loginField">
        <div asp-validation-summary="All" class="text-danger"></div>
            
        <div class="mb-3">
            <label for="inputEmail1" class="form-label small">Email Address</label>
            <input asp-for="Form.Email" type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
        </div>

        <button class="btn btn-primary btn-block my-2 debounce w-100" type="submit" id="recaptcha">Send Reset Email</button>
        @Html.AntiForgeryToken()
    </form>
    
    <p class="text-center small mt-4">
        Don't have an account? <a href="/signup">Sign up</a> <br />
        Already have an account? <a href="/signin">Sign in</a>
    </p>
</div>